*
{
    display: block;

}
.inputfield:active
{
border: 1px solid blue;
}
input
{
    border: 1px solid silver;
    
}
div
{
width: 100%;
height: 100%;
align-items: center;

    
}
.text{
    color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    padding: 20px;
    margin-top: 200px;  
}
.inputfield
{
    border-radius: 35px;
    font-size: 30px;
    width: 500px;
    height: 30px;
    margin: auto;
}
.searchbutton
{
    margin: auto;
    height: 40px;
    background-color: darkslategrey;
    font-size: medium;
    border-radius: 50px;
    
}
.searchbuttonA1
{
    
    height: 40px;
    background-color: darkslategrey;
    font-size: medium;
    border-radius: 50px;
    float: left;

    margin-left: 40%;
}
.searchbuttonA2
{
    
    height: 40px;
    background-color: darkslategrey;
    font-size: medium;
    border-radius: 50px;
    float: left;

    
}
.advancedinput
{
    width: 90%;
    height: 30px;

    margin-bottom: 30px;   
}
.buttons
{
    display: inline;
}